global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'sqlserver'
    scrape_interval: 30s
    scrape_timeout: 25s
    static_configs:
      - targets: ['sql_exporter:9399']
        labels:
          instance: 'sqlserver'
          environment: 'dev'